.App {
    background: linear-gradient(140deg, #1a0023, #2e0052, #2c003e, #3e0059);
    min-height: 100vh;
    margin: 0;
    color: #ffffff; 
    font-family: Arial, sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}


.scrollable-menu {
    scrollbar-width: thin;
    scrollbar-color: #6e4ca1 #272343; 
}

.scrollable-menu::-webkit-scrollbar {
    width: 12px;
}

.scrollable-menu::-webkit-scrollbar-track {
    background: #272343; 
}

.scrollable-menu::-webkit-scrollbar-thumb {
    background: #6e4ca1; 
    border-radius: 6px; 
}
